<div class="page-header">
  <h3>Movie #<%= @movie.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @movie.title %></dd>

      <dt>Year</dt>
      <dd><%= @movie.year %></dd>

      <dt>Duration</dt>
      <dd><%= @movie.duration %></dd>

      <dt>Description</dt>
      <dd><%= @movie.description %></dd>

      <dt>Image url</dt>
      <dd><%= @movie.image_url %></dd>

      <dt>Director</dt>
      <dd><a href="/directors/<%= @movie.director_id %>"><%= @movie.director.name %></a></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/movies" class="btn btn-primary">
        Back
      </a>
      <a href="/movies/<%= @movie.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_movie/<%= @movie.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<ul>
  <% @movie.characters.each do |character| %>
    <li><%= character.actor.name %>
      (<%= character.name %>)

    </li>
    <% end %>
</ul>



<div class="row">
  <div class="col-md-12">
    <form action="/create_character" method="post">
  

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="movie" class="control-label">
          Movie
        </label>

        <input type="text" id="movie" name="movie" placeholder="Movie" class="form-control">
      </div>

      <!-- Label and input for year -->
      <div class="form-group">
        <label for="actor" class="control-label">
          Actor
        </label>

        <input type="text" id="actor" name="actor" placeholder="Actor" class="form-control" >
      </div>

      <!-- Label and input for duration -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" >
      </div>




      <button class="btn btn-success">
        Create Character
      </button>
      or
      <a href="/movies">Cancel</a>
    </form>
  </div>
